<!DOCTYPE html>
<html>
  <head>
    <title>EcPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if customer_signed_in? %>
      <%= render "layouts/during_login" %>
    <% elsif admin_signed_in? %>
      <%= render "layouts/during_admin_login" %>
    <% else %>
      <%= render "layouts/during_logout" %>
    <% end %>

    <p><%= notice %></p>
    <p><%= alert %></p>

    <%= yield %>
  </body>
</html>
